Repository SubhrajitPrusty/wallgen, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, main, server, tools, images, web

.github/labeler.yml:

documentation:
  - ./*.md

main:
  - wallgen.py
  
server:
  - app.py

tools:
  - tools/*.py

images:
  - images/*

web:
  - templates/*
  - static/*

Added a new logo
  README.md
  images/logo.png
  static/images/anime-poly-square.png
  static/images/logo.png
  templates/base.html
  templates/home.html
Labels: documentation, images, web

modified the logo
  README.md
  images/logo.png
  static/images/logo.png
Labels: documentation, images

Added a new logo (#57)
  README.md
  images/logo.png
  static/images/anime-poly-square.png
  static/images/logo.png
  templates/base.html
  templates/home.html
Labels: documentation, images, web

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

bump jquery version
  static/js/jquery.min.js
  templates/base.html
Labels: web

added iframe site
  docs/css/style.css
  docs/index.html
Labels: none

change to https
  docs/index.html
Labels: none

added Cython as explicit requirement
  setup.py
Labels: none

autoflake pass 1
  tools/gradient.py
  tools/shapes.py
  wallgen.py
Labels: main, tools

autopep8 pass 1
  app.py
  setup.py
  tools/gradient.py
  tools/points.py
  tools/shapes.py
  tools/wallpaper.py
  wallgen.py
Labels: main, server, tools

autopep8 pass 2
  app.py
  setup.py
  tools/gradient.py
  tools/points.py
  tools/shapes.py
  tools/wallpaper.py
  wallgen.py
Labels: main, server, tools

flake fix
  app.py
Labels: server

updated default shape size
  app.py
Labels: server

removestar from shapes
  tools/shapes.py
Labels: tools

flake fix
  tools/gradient.py
  tools/points.py
Labels: tools

flake fix
  tools/shapes.py
Labels: tools

flake fix
  tools/wallpaper.py
Labels: tools

flake fix
  wallgen.py
Labels: main

final flake fix
  tools/gradient.py
  tools/points.py
Labels: tools

new testing workflow
  .github/workflows/testing.yml
Labels: none

Update testing.yml
  .github/workflows/testing.yml
Labels: none

Update testing.yml
  .github/workflows/testing.yml
Labels: none
